{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $(".proctable").DataTable({
        paging: false,
        order: [],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>{% trans "Processes currently open" %}</h1>

{% include "process/process_list.html" with procs=current %}

<h1>{% trans "Processes closed in the last 30 days" %}</h1>

{% include "process/process_list.html" with procs=last %}

{% endblock %}

